

<div class="span4 event-box m-l-r">
        <div class="main-box event-box-text">
            <!--div class="ribbon">
              <img src="/assets/ribbon.png">
            </div-->
          <div class="event-image latest">
            <div class="big-event-info">
              <h4>
                <% if true %>
                  <a href="#" class="comment-note"><i class="icon-comments"></i></a> 
                <% end %>
                <% if position.owner?(current_user) || position.applied?(current_user) %>
                  <%= link_to position.title, position_path(position, :type => "applied"), :class => "pink" %>
                <% else %>
                  <%= link_to position.title, new_position_position_request_path(position), :class => "pink" %>
                <% end %>
              </h4>
              <p class="grey"><%= position.short_description %></p>
                <p class="grey">Time is not yet set</p>
            </div><!--/span-->
            <div class="people-row">
              <% if position.applicants_count? > 1 %>  
                <p class="grey">Applied: <span class="bold"><%= position.applicants_count? %></p>
              <% end %>
            </div><!--people-row-->
          </div><!--/box image-->
          
          <div class=" row-fluid user-event-info">
            <!--div class="user">
              <%#= link_to '#', root_path do %>
                <img src="<%#= position.owner.picture %>">
              <%# end %>
            </div--><!--/user-->
            <div class="event-info">
              <!--h4><%= link_to position.owner.email, '#' %></h4-->
              <p><span>Active since: </span><%= position.created_at.to_date %></p>
            </div><!--/event-info-->
          </div><!--/row-fluid-->
        </div><!--/main-box-->
      </div><!--/span-->

