

<li class="media">
              <a href="<%#= user_path(event.owner) %>" >

                    
                    <img src="<%#= event.owner.picture %>" rel="tooltip" data-placement="top" data-original-title="by: <%#= event.owner.name %>">

                </a>  

                <div class="media-body">
                  <!--span class="label">Owner</span-->

                  <div class="media-heading">
                      <div class="row-fluid center">
                        <div class="event-body pull-left event-box-text">
                        <div class="big-event-info row-fluid">
                          <div class="span10">
                            <div class="row-fluid">
                           
                            <!--h4 class="bold"><a href="<%#= event_path(event) %>" class="pink"><%#= position.title %></a>
                             <div class="pull-right label label-owner">
                              <span><i class="icon-user"></i></span></div> 
                             <div class="pull-right label label-approved">
                              <span><i class="icon-ok"></i></span></div>
                             </h4-->
                          </div>
                          <div class="row-fluid">
                          <div class="span7">
                            
                            <h5 class="grey"><%= request.applicant %></h5>
                            <p class="green bold"><%= request.created_at.strftime("%B %d, %Y at %I.%M %p") %></p>

                          </div><!--/span-->
                          <div class="span5">
                           <% if position.position_requests.size > 0 %>
                              <p ><!--a href="<%#= event_path(event) %>" class="grey small">People: <span class="bold"><%#= position.position_requests.size %> </span></a--></p>

                              <!--p class="">
                                
                                <a href="<%#= event_path(event) %>" class="grey small relative comment-badge">
                                  <% if request.new_comments?(current_user) %>
                                    <span class="badge andika"></span>
                                  <% end %>
                                  Comments: 
                                  <span class="bold"><%= position.position_requests.size %></span></a></p-->
                          
                          <% end %>
                          </div><!--/span-->
                          </div><!--/row-fluid-->
                          </div><!--/span-->

                          <div class="span2 ajax">
                            
                              <%#= link_to "Delete", event, :method => :delete, :class => "btn alert alert-grey", :confirm => "Do you want to delete your event?"%>
                              <span class="alert alert-grey"><%= request.status? %></span>
                                <% if request.pending? %>
                                  <%= link_to 'Process', process_request_position_position_request_path(request), :method => :put, :class => "btn btn-green" %>
                                  <%= link_to 'Reject', reject_position_position_request_path(request), :method => :put, :class => "btn btn-grey-pink" %>
                                <% else %>
                                  <% if request.rejected? %>
                                    <%= link_to 'Status', position_request_path(request.token), :class => "btn btn-grey-pink" %>
                                  <% else %>
                                    <%= link_to 'Status', position_request_path(request.token), :class => "btn btn-green" %>
                                  <% end %>
                                <% end %>

                              <% if request.new_comments?(current_user) %>
                                      <!--p><span class="badge andika">.</span></p-->
                              <% end %>
                              <!--span class="alert alert-grey">Approved</span-->
                              <!--span class="alert alert-pink">Waiting for response ...</span-->
                                
                          </div><!--/span-->
                          
                         

                        </div><!--/big-event-info-->
                        </div><!--/event-body-->
                                        
                      </div><!--/row-fluid-->
                    </div><!--/media-heading-->

                 </div><!--/media-body-->
                 
               </li>

