        <ul class="nav nav-tabs">
            <li class="<%= current_tab?(position_path(@position, :type => "applied"))%> <%= 'notify-badge' %>">
              <%= link_to glyph(:user) + "Applied", position_path(@position, :type => "applied") %>
            </li>

          <li class="<%= current_tab?(position_path(@position, :type => "accepted"))%> <%= 'notify-badge' %>">
              <%= link_to "Accepted", position_path(@position, :type => "accepted") %>
            </li>
            <li class="<%= current_tab?(position_path(@position, :type => "rejected"))%> <%= 'notify-badge' %>">
              <!--span class="badge andika"><%= "3" %></span-->
              <%= link_to "Rejected", position_path(@position, :type => "rejected") %>
            </li>
        </ul>