        <ul class="nav nav-tabs">
            <li class="<%#= current_tab?(user_path(@user))%>">
              <%= link_to glyph(:user) + "#{@user.try(:name)}'s Activities", '#' %>
            </li>

          <li class="<%= current_tab?(root_path)%> <%= 'notify-badge' %>">
              <span class="badge andika"><%= "1" %></span>
              <%= link_to "Request's", "#" %>
            </li>
        </ul>