
<% if @position.owner?(current_user) %>
<!-- <p id="notice"><%= notice %></p>

<p>
  <%= @position.title %>
</p>

<p>
  <%= @position.description %>
</p>

  <%= link_to 'Edit', edit_position_path(@position), :class => 'btn btn-pink' %>
  <p>
    <%#= render @position.pending_requests? %>
  </p> -->
<div class="container">
              <h1 class="normal"><%= @position.title %></h1>
              <p class="grey"><%= @position.short_description %></p>
                <%= text_field_tag '', "<iframe src='http://#{Settings.domain.host}/positions/#{@position.token}/position_requests/new' height='100%' width='100%'>Error loading form. Please reload in few moments</iframe>" %>


              <div>

  <%= render 'summary', :position => @position %>

<% elsif !@position.applied?(current_user) %>

<div class="container">
  <p>
  <%= @position.title %>
</p>

<p>
  <%= @position.description %>
</p>
  <%= link_to "Apply", new_position_position_request_path(@position), :class => "btn btn-pink" %>
</div>
  <%#= form_for(PositionRequest.new) do |f| %>
    <%#= f.hidden_field :position_id, :value => @position.id %>

    <!--div class="actions">
      <%#= f.submit "Apply", :class => "btn btn-pink" %>
    </div-->
  <%# end %>

  <%#= link_to 'Apply', new_position_request_path(:position_id => @position), :class => 'btn btn-pink'  %>
<% end %>








