<div class="span2 main-box" style="overflow: hidden;">
        <div class=" row-fluid user-event-info files">

          <!--div class="profile-image">
            <div class="thumb">
            <a href="" >
            <img src="<%= @user.try(:picture) %>?type=large">
             <span class="text"><i class="icon-user"></i> Person's description comming soon...</span>
           </a>
             <a href="#modal-description" role="button" data-toggle="modal" class="pull-right btn btn-small grey"><i class="icon-user"></i> Edit</a>
             </div>           
          </div--><!--/user-->

          <!--div class="event-info">
            <h5 class="grey"><%= position.title %></h5>

          </div--><!--/event-info-->

          <% if @position_request.active? && @position_request.owner_commented? %>
            <%= form_for [position, request], :html => { :id => "attachment_upload" } do |f| %>
              <%= f.hidden_field :position_token, :value => position.token %>
              <%= f.fields_for :attachments, request.attachments.build do |p| %>
                 <%= image_tag "drop_files.png", :style=>"cursor:pointer;height:116px;width:97%;border:2px dashed #CACACA;", :id => "image" %>
                 <%= p.file_field :file, :multiple => true, name: "attachments[file][]", :class => "btn-flat small", :id => "file", :id => "file_upload", :hidden => true %>
                 
               <%#= f.submit "Add file", :class => "btn-pink" %>

             <% end %>        

            <% end %>
          <% end %>


        </div><!--/row-fluid-->
        <hr class="dashed">

        <script id="template-upload" type="text/x-tmpl">
        <div class="{%=o.name.replace(".", "")%}" style="font-size:13px;">
          {%=o.name%}
          <div class="progress"><div class="bar" style="width: 0%"></div></div>
        </div>
        </script>
                
        <div class="row-fluid small likes">
          <p class="grey center"> Files</p>
          <div id="files">
            <% @position_request.attachments.reverse.try(:each)  do |r|  %>
              <p class="grey normal"><%= link_to r.file.file.filename, r.file_url  unless r.file.file.nil? || r.nil? %></p>
            <% end if (@position_request.active? || @position_request.position.owner?(current_user))%>
          </div>
        </div><!--/row-fluid-->
      </div><!--/span-->

<script type="text/javascript">
$("#image").click(function(){
 $("#file_upload").click();
});
</script>
