<%= form_for(@position_request) do |f| %>
  <%= f.hidden_field :position_id, :value => @position.id %>
  <% if @position_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position_request.errors.count, "error") %> prohibited this position_request from being saved:</h2>

      <ul>
      <% @position_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Apply", :class => "btn btn-pink" %>
  </div>
<% end %>
