<%= form_for [@position, @position_request] do |f| %>
  <%= f.hidden_field :position_id, :value => @position.id %>
  <% if @position_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position_request.errors.count, "error") %> prohibited this position_request from being saved:</h2>

      <ul>
      <% @position_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :first_name, :placeholder => "First Name" %>
  <%= f.text_field :last_name, :placeholder => "Last Name" %>
  <%= f.text_field :email, :placeholder => "Email" %>

    <%= f.fields_for :attachments do |p| %>
     <div class="field">
       <%= p.label :file %><br>
       <%= p.file_field :file, :multiple => true, name: "attachments[file][]", :class => "btn-flat small" %>
     </div>
   <% end %>

  <div class="actions">
    <%= f.submit "Apply", :class => "btn-flat" %>
  </div>
<% end %>
