<div class="span2 main-box" style="overflow: hidden;">
        <div class=" row-fluid user-event-info files">

          <!--div class="profile-image">
            <div class="thumb">
            <a href="" >
            <img src="<%= @user.try(:picture) %>?type=large">
             <span class="text"><i class="icon-user"></i> Person's description comming soon...</span>
           </a>
             <a href="#modal-description" role="button" data-toggle="modal" class="pull-right btn btn-small grey"><i class="icon-user"></i> Edit</a>
             </div>           
          </div--><!--/user-->

          <!--div class="event-info">
            <h5 class="grey"><%= position.title %></h5>

          </div--><!--/event-info-->

          <% if @position_request.active? && @position_request.owner_commented? %>
            <%= form_for [position, request], :html => { :id => "attachment_upload" } do |f| %>
              <%= f.hidden_field :position_token, :value => position.token %>
              <%= f.fields_for :attachments, request.attachments.build do |p| %>
                 <%= p.file_field :file, :multiple => true, name: "attachments[file][]", :class => "btn-flat small", :id => "file" %>
                 
               <%#= f.submit "Add file", :class => "btn-pink" %>

             <% end %>        

            <% end %>
          <% end %>


        </div><!--/row-fluid-->
        <hr class="dashed">

        <script id="template-upload" type="text/x-tmpl">
        <div class="upload">
          {%=o.name%}
          <div class="progress"><div class="bar" style="width: 0%"></div></div>
        </div>
        </script>
                
        <div class="row-fluid small likes">
          <p class="grey center"> Files</p>
          <% @position_request.attachments.try(:each)  do |r|  %>
            <p class="grey normal"><%= link_to r.file, r.file_url %></p>
          <% end if (@position_request.active? || @position_request.position.owner?(current_user))%>
        </div><!--/row-fluid-->
      </div><!--/span-->



