<h1>Listing position_requests</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Applicant</th>
      <th>Status</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @position_requests.each do |position_request| %>
      <tr>
        <td><%= position_request.position_id %></td>
        <td><%= position_request.applicant_id %></td>
        <td><%= position_request.status %></td>
        <td><%= position_request.token %></td>
        <td><%= link_to 'Show', position_request %></td>
        <td><%= link_to 'Edit', edit_position_request_path(position_request) %></td>
        <td><%= link_to 'Destroy', position_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position request', new_position_request_path %>
