<div class="container">
  <div class="container-fluid single-box-layout profile-page" style="margin:0;">
    <div class="row-fluid">
      <div class="main-box-header relative" style="border: 0px;">
              <h1 class="normal"><%= @position_request.position.title %></h1><h4><%= @position_request.status? %></h4>
              <% if @position_request.position.owner?(current_user) && @position_request.status_open? %><p>Applied: <%= @position_request.entity %> <%= link_to 'Reject', reject_position_position_request_path(@position_request, :position_id => @position_request.position.id), :method => :put, :class => "pink" %></p>
              <% end %>
            </div><!--/main-box-header-->
      <%= render "sidebar", :position => @position, :request => @position_request %>
      <!-- Activity on profil pages
      ============================== -->
      <% if @position_request.position.owner? current_user %>

            <%= render "comments/comments", :commentable => @position_request %>
          <% elsif @position_request.active? && @position_request.owner_commented? %>
            <%= render "comments/comments", :commentable => @position_request %>
          <% elsif @position_request.closed? %>
             <%= render "positions/empty", :title => "Comments are now closed", :subtitle => "" %>
          <%= render "comments/comments", :commentable => @position_request %>
          <% else %>
            <%= render "positions/empty", :title => "Please wait for response by owner.", :subtitle => "" %>
          <% end %>
      
    </div><!--/row-fluid-->
  </div><!--/container-fluid-->
</div><!--/container-->


<% content_for :title do %>
  <h1 class="normal"><%= @position_request.position.title %></h1><h4><%= @position_request.status? %></h4>
  <% if @position_request.position.owner? current_user %>
    <p class="grey"><%= @position_request.position.short_description %></p><p>Applied: <%= @position_request.entity %> <%= link_to 'Reject', reject_position_position_request_path(@position_request, :position_id => @position_request.position.id), :method => :put, :class => "pink" %></p>
  <% else %>
    <p class="grey"><%= @position_request.position.short_description %></p>
  <% end %>
 
<% end %>