<% content_for :title do %>
  <h1 class="normal"><%= @position_request.position.title %></h1><h4><%= @position_request.status? %></h4>
  <% if @position_request.position.owner? current_user %>
  	<p class="grey"><%= @position_request.position.short_description %></p><p>Applied: <%= @position_request.entity %> <%= link_to 'Reject', reject_position_position_request_path(@position_request, :position_id => @position_request.position.id), :method => :put, :class => "pink" %></p>
  <% else %>
    <p class="grey"><%= @position_request.position.short_description %></p>
  <% end %>
<% end %>

<% if @position_request.active? %>
  <%= render "comments/comments", :commentable => @position_request %>
<% else %>
<div class="row-fluid">
  <p>Commenting is now closed. Thanks for participating.</p>
</div><!--/row-fluid-->
<% end %>
