<% content_for :title do %>
  <h1 class="normal"><%= @position_request.position.title %></h1><h4><%= @position_request.status? %></h4>
  <% if @position_request.position.owner? current_user %>
  	<p class="grey"><%= @position_request.position.short_description %></p><p>Applied: <%= @position_request.entity %> <%= link_to 'Reject', reject_position_position_request_path(@position_request, :position_id => @position_request.position.id), :method => :put, :class => "pink" %></p>
  <% else %>
    <p class="grey"><%= @position_request.position.short_description %></p>
  <% end %>
  <%= form_for [@position, @position_request] do |f| %>
    <%= f.hidden_field :position_id, :value => @position.id %>
    <%= f.fields_for :attachments, @position_request.attachments.build do |p| %>
     <div class="field">
       <%= p.file_field :file, :multiple => true, name: "attachments[file][]", :class => "btn-flat small" %>
     </div>
   <% end %>

  <div class="actions">
    <%= f.submit "Add file", :class => "btn-pink" %>
  </div>
<% end %>
<% end %>

<% @position_request.attachments.each  do |r|  %>
<%= link_to r.file, r.file_url %>
<% end %>



<% if @position_request.active? %>
  <%= render "comments/comments", :commentable => @position_request %>
<% else %>
<div class="row-fluid">
  <p>Commenting is currently closed. You will receive email once they are enabled.</p>
</div><!--/row-fluid-->
<% end %>
