

<% content_for :title do %>
   <h1 class="normal">Login</h1>
<% end %>
      <div class="register">
        <div class="row-fluid social-row center">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal", :role => "form" }) do |f| %>

  <div class="form-group">
    <%= f.label :email, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.email_field :email, :type => :email, :class => "form-control", :placeholder => "Enter your email" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <div class="checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            Remember me
          <% end -%>
        </div>
      </div>
    </div>
  <% end -%>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>

<% end %>

           <!--ul>
          <li>
            <a href="<%#= user_omniauth_authorize_path(:facebook) %>" class="btn btn-base"><i class="facebook social-btn"></i>Login with Facebook</a>
             </li>
          <li>
            
           </ul-->
            </div>
      </div><!--/main-box-body-->